.body-container-register{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    justify-content: right;
    align-items: center;
}
.inputFieldContainer {
    align-items: center;
    width: 20%;
    padding: 2%;
}
@media (max-width: 800px) {
    .inputFieldContainer {
      flex: 40%;
      padding: 2%;
    }
}
@media (max-width: 500px) {
    .inputFieldContainer {
      flex: 100%;
      padding: 2%;
    }
}
